@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.menu-mobile {
    display: none;
}

.mobile-list {
    display: none;
}

.navbar {
    width: 100%;
    height: 7vh;
    background-color: #272727;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    overflow: hidden;
    transition: all 1s ease;
}

.hidden {
    margin-left: 100%;
}

a {
    color: white;
}

.navbar h2 {
    cursor: pointer;
}

.spanred {
    color: crimson;
}

.listnav {
    display: flex;
}

.navlink {
    color: crimson;
    margin: 15px;
    position: relative;
    text-transform: uppercase;
    font-size: .8rem;
}

.navlink::after {
    content: '';
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: -10%;
    left: 0;
    background-color: crimson;
    transition: all .8s ease;
}

.navlink:hover::after {
    width: 100%;
}

.activelink::after {
    width: 100%;
}

#home {
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/home-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.container-home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#home h1 {
    font-size: 3rem;
    color: white;
}

.title-animate {
    position: relative;
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: frames 6s steps(1150) both;
}

.title-animate::after {
    content: '';
    position: absolute;
    margin-left: 10px;
    width: 2px;
    height: 100%;
    background-color: crimson;
    animation: pisca 1s infinite;
}

#home p {
    color: white;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px black;
}

#home span.spanred {
    font-size: 2rem;
}

.default-btn {
    width: 100px;
    height: 40px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    overflow: hidden;
    transition: all .5s ease;
}

.default-btn:hover {
    background-color: transparent;
    color: crimson;
    border: 2px solid crimson;
}

.circle-home {
    width: 25rem;
    height: 25rem;
    border-radius: 20%;
    background-color: crimson;
    background-image: url(./assets/home1.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 150px;
}

.inputs-home {
    display: flex;
}

.inputs-home input {
    display: none;
}

.inputs-home label {
    width: 16px;
    height: 16px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #eee;
    transition: all .5s;
}

.inputs-home label:hover {
    background-color: #272727;
}

.inputs-home input:checked+label {
    background-color: #272727;
}

#sobre {
    background-color: #272727;
}

.title {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: crimson;
    margin: 50px;
}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobre-img {
    width: 700px;
    margin-top: 100px;
}

.info-sobre h3 {
    font-size: 2rem;
    margin-bottom: 5px;
    color: crimson;
}

.info-sobre p {
    max-width: 700px;
    color: white;
}

#objetivo {
    background-color: blanchedalmond;
}

.objetivos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.listobjetivos {
    width: 80%;
    height: 80%;
}

.objetivos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.objetivos li{
    width: 100%;
    height: 6.5em;
    padding: 20px;
    border-radius: 5px;
    background-color: #313131;
    color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 1.5s ease;
}

.objetivos li:hover {
    background-color: crimson;
}

#especialidades {
    background-color: #272727;
}

.especontainer {
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 .info ul {
    width: 40%;
}

.listespe {
    width: 40%;
    height: 6.5em;
    padding: 20px;
    border-radius: 5px;
    background-color: #313131;
    color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 1.5s ease;
}

.listespe:hover {
    background-color: crimson;
}

.espe-img {
    margin: 100px;
    width: 700px;
}

#contato {
    background-color: #272727;
}

.contato-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 25rem;
    height: 35rem;
    background-color: #313131;
    padding: 20px;
    margin-bottom: 50px; 
    overflow: hidden;
}

.form h2 {
    color: #eee;
    margin-bottom: 10px;
}

.textfield {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.textfield label {
    color: #eee;
}

.textfield input, textarea {
    width: 80%;
    margin-bottom: 2px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.textfield textarea {
    width: 100%;
}

/* Media section */
@media (max-width: 1560px) {
    .navlink {
        margin: 9px;
    }
    
    #home {
        background-attachment: scroll;
    }
    
    #home h1 {
        font-size: 1.5rem;
    }

    #home span.spanred {
        font-size: 1.5rem;
    }

    #home p {
        font-size: 1rem;
    }
    
    .container-home {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 70px;
    }

    .circle-home {
        width: 10rem;
        height: 10rem;
        margin: 20px 0;
    }

    .espe-img {
        margin-top: 10px;
        width: 22rem;
        margin-bottom: 20px;
    }

    .info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .listnav {
        display: none;
    }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    .change {
        animation: menu-rotate 1s ease;
    }

    .bar {
        width: 20px;
        height: 2px;
        background-color: #eee;
        margin-bottom: 3px;
        border-radius: 2px;
        transition: all .5s ease;
    }

    .change .bar {
        position: absolute;
        background-color: crimson;
    }

    .change #bar1 {
        transform: rotate(45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: rotate(-45deg);
    }

    .mobile-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: #272727;
        position: fixed;
        z-index: 2;
        right: -100vw;
        transition: all .6s ease;
    }

    .open {
        right: 0;
    }

    .mobile-list li {
        margin: 15px;
    }
    
    #sobre {
        padding: 10px;
    }

    .sobre-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobre-img {
        margin: 0;
        width: 20rem;
    }

    .title {
        margin: 5px;
    }

    .hidden {
        margin: 0;
    }

    .objetivos ul {
        width: 80vw;
    }

    .listespe {
        width: 80vw;
}

    .form {
        width: 20rem;
        height: 35rem;
    }

}
/* End Media Section */

/* KeyFrames section: */
@keyframes pisca {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes frames {
    100% {
        width: 100%;
    }
}

@keyframes menu-rotate {
    100% {
        transform: rotate(360deg);
    }
}
/* End KeyFrames section */