@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.menu-mobile {
    display: none;
}

.mobile-list {
    display: none;
}

.navbar {
    width: 100%;
    height: 4rem;
    background-color: #272727;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    overflow: hidden;
}

a {
    color: white;
}

.navbar h2 {
    cursor: pointer;
}

.spanred {
    color: crimson;
}

.listnav {
    display: flex;
}

.navlink {
    color: crimson;
    margin: 15px;
    position: relative;
    text-transform: uppercase;
    font-size: .8rem;
}

.navlink::after {
    content: '';
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: -10%;
    left: 0;
    background-color: crimson;
    transition: all .8s ease;
}

.navlink:hover::after {
    width: 100%;
}

.activelink::after {
    width: 100%;
}

#home {
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/home-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.container-home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#home h1 {
    font-size: 3rem;
    color: white;
}

#home p {
    color: white;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px black;
}

#home span.spanred {
    font-size: 2rem;
}

.default-btn {
    width: 100px;
    height: 40px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: all .5s ease;
}

.default-btn:hover {
    background-color: transparent;
    color: crimson;
    border: 2px solid crimson;
}

.circle-home {
    width: 25rem;
    height: 25rem;
    border-radius: 20%;
    background-color: crimson;
    background-image: url(./assets/home1.svg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 150px;
}

.inputs-home {
    display: flex;
}

.inputs-home input {
    display: none;
}

.inputs-home label {
    width: 16px;
    height: 16px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #eee;
    transition: all .5s;
}

.inputs-home label:hover {
    background-color: #272727;
}

.inputs-home input:checked+label {
    background-color: #272727;
}

#sobre {
    background-color: #272727;
    padding: 50px;
}

.title {
    text-transform: uppercase;
    font-size: 2.5rem;
    color: crimson;
    
}

.title-animate {
    position: relative;
    display: inline-block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: frames 5s steps(1150) both;
}

.title-animate::after {
    content: '';
    position: absolute;
    margin-left: 10px;
    width: 2px;
    height: 100%;
    background-color: crimson;
    animation: pisca 1s infinite;

}

.sobre-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sobre-img {
    width: 700px;
    margin-top: 100px;
}

.info-sobre h3 {
    font-size: 2rem;
    margin-bottom: 5px;
    color: crimson;
}

.info-sobre p {
    max-width: 700px;
    color: white;
}

/* Media section */
@media (max-width: 1560px) {
    #home h1 {
        font-size: 1.5rem;
    }

    #home span.spanred {
        font-size: 1.5rem;
    }

    #home p {
        font-size: 1rem;
    }
    
    .container-home {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 70px;
    }

    .circle-home {
        width: 10rem;
        height: 10rem;
        margin: 20px 0;
    }
}

@media (max-width: 600px) {
    .listnav {
        display: none;
    }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 1s ease;
    }

    .menu-mobile:hover {
        transform: rotate(360deg);
    }

    .bar {
        width: 20px;
        height: 2px;
        background-color: #eee;
        margin-bottom: 3px;
        border-radius: 2px;
        transition: all .5s ease;
    }

    .change .bar {
        position: absolute;
        background-color: crimson;
    }

    .change #bar1 {
        transform: rotate(45deg);
    }

    .change #bar2 {
        opacity: 0;
    }

    .change #bar3 {
        transform: rotate(-45deg);
    }

    .mobile-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: #272727;
        position: fixed;
        z-index: 2;
        right: -100vw;
        transition: all .6s ease;
    }

    .open {
        right: 0;
    }

    .mobile-list li {
        margin: 15px;
    }
    
    #sobre {
        padding: 10px;
    }

    .sobre-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobre-img {
        width: 20rem;
    }
}

/* KeyFrames section: */
@keyframes pisca {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes frames {
    100% {
        width: 100%;
    }
}

/* End KeyFrames section */